@font-face {
  font-family: 'Yeseva One';
  src: url(../fonts/yeseva-regular.ttf);
}

.about-cook {
  transform: translateX(15%);
  padding-top: 50px;
}

.about-food {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  text-align: center;
}

.about-title {
  color: #cc9900;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 36px;
  padding-bottom: 15px;
}

.about-txt {
  color: #4c4c4c;
  font-family: 'Lato', 'Arial', 'Times New Roman', sans-serif;
  font-size: 16px;
  padding-top: 30px;
}

body {
  margin: 0 auto;
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

div, 
button {
 box-sizing: border-box;
}

.button {
  display: flex;
  justify-content: center;
  max-width: 486px;
  margin: 0 auto;
  padding-bottom: 130px;
}

.button-black {
  background-color: rgba(0, 0, 0, .7) ;
  border: 2px solid #000;
  justify-content: center;
  margin: 17px 15px;
  padding: 20px 50px;
}

.button-white {
  background-color: rgba(255, 255, 255, .28);
  border: 2px solid #fff;
  justify-content: center;
  padding: 20px 50px;
}

.button-item {
  color: #fff;
  font-family: 'Lato', 'Arial', 'Times New Roman', sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.promo-section {
  padding-bottom: 130px;
}

.header-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 175px;
  padding-left: 175px;
}

.header-title {
  color: #fff;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 36px;
  text-transform: uppercase;
}

.intro-container {
  background-image: url(/assets/images/background-intro.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.menu-bar,
.socials {
  display: flex;
  list-style: none;
}

.menu-item {
  color: #fff;
  font-size: 21px;
  padding: 45px 30px;
  text-transform: capitalize;
}

.nav-bar {
  display: flex;
}

.section-about {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
}

.section-about_wrapper {
  background-image: url(/assets/images/about-bg.png);
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.social-image {
  margin-right: 8px;
  width: 23px; 
}

.social-item {
  align-items: center;
  display: flex;
}

.content-title {
  color: #fff;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 90px;
  font-weight: 100;
  margin: 0 auto;
  max-width: 970px;
  text-align: center;
  margin-top: 130px;
  text-align: center;
}


.title-decoration {
  display: block;
  margin: 0 auto; 
  text-align: center;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

