@font-face {
  font-family: 'Yeseva One';
  src: url(../fonts/yeseva-regular.ttf);
}

body {
  margin: 0 auto;
}

body, html, ul, ol, li, p, h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

div,
button {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.about-cook {
  transform: translateX(15%);
}

.about-food {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 430px;
  text-align: center;
}

.about-title {
  color: #cc9900;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 36px;
  padding: 20px;
}

.about-txt {
  color: #4c4c4c;
  font-family: 'Lato-Regular', 'Arial', 'Times New Roman', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 20px;
}

.appetisers-wrapper {
  padding-bottom: 45px;
}

.appetisers-salads-wrapper {
  padding-right: 170px;
}

.button {
  display: flex;
  justify-content: center;
  max-width: 486px;
  margin: 0 auto;
  box-sizing: border-box;
}

.button-black {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #000;
  justify-content: center;
  margin: 17px 15px;
  padding: 20px 50px;
}

.button-white {
  background-color: rgba(255, 255, 255, 0.28);
  border: 2px solid #fff;
  justify-content: center;
  margin: 17px 15px;
  padding: 20px 50px;
}

.button-item {
  color: #fff;
  font-family: 'Lato', 'Arial', 'Times New Roman', sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.content-title {
  color: rgb(255, 255, 255);
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 90px;
  font-weight: 100;
  max-width: 970px;
  text-align: center;
  margin: 0px auto;
}

.description {
  color: #4c4c4c;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 15px;
  line-height: 24px;
  white-space: nowrap;
}

.dish-name-price {
  display: flex;
  justify-content: space-between;
}

.dish-name {
  color: #c90;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 21px;
  font-weight: 100;
  text-transform: capitalize;
}

.dish-special {
  border: 1px solid #c90;
  margin: 30px 0px;
  position: relative;
  padding: 10px;
}

.dish-item {
  margin-top: 15px;
}

.header-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 175px;
  padding-left: 175px;
}

.header-title {
  color: #fff;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 36px;
  text-transform: uppercase;
}

.intro-container {
  background-image: url(/assets/images/background-intro.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.ingredients-img {
  padding-top: 70px;
}

.ingredients-item-2 {
margin: 0px 30px 0px 30px
}

.ingredients-divider {
  padding: 25px 0px 25px 0px;
}

.ingredients-section {
  background-image: url(/assets/images/ingredients-bg.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  max-width: 1600px;
  margin: 0 auto;
}

.ingredients-title {
  color: #fff;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 36px;
}

.ingredients-txt {
  color: #fff;
  font-family: 'Lato', 'Arial', 'Times New Roman', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.ingredients-wrapper {
  align-items: center;;
  background-color: rgba(0, 0, 0, 0.67);
  display: flex;
  flex-direction: column;
  max-width: 570px;
  text-align: center;
  padding: 82px 70px 66px 70px;
  margin: 92px 215px 92px 0px;
}

.menu-bar,
.socials {
  display: flex;
  list-style: none;
}

.meals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meals-name {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menu-item {
  color: #fff;
  font-size: 21px;
  padding: 45px 30px;
  text-transform: capitalize;
}

.menu-section {
  background-image: url(/assets/images/Background-menu.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.menu-title {
  color: #c90;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  padding: 90px 0px;
}

.nav-bar {
  display: flex;
}

.price {
  color: #cc9900;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 21px;
}

.promo-section {
  padding: 120px;
}

.section-about {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
}

.section-about_wrapper {
  background-image: url(/assets/images/about-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  justify-content: center;
}

.social-image {
  margin-right: 8px;
  width: 23px;
}

.social-item {
  align-items: center;
  display: flex;
}

.special {
  color: #fff;
  background-color: #c90;
  font-family: 'Lato', 'Arial', 'Times New Roman', serif;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  padding: 3px 20px;
  top: 0px;
  right: -1px;
  transform: translateY(-100%);
  text-transform: capitalize;
}

.starters-wrapper {
  padding-bottom: 45px;
}

.content-title {
  color: #fff;
  font-family: 'Yeseva One', 'Arial', 'Times New Roman', serif;
  font-size: 90px;
  font-weight: 100;
  margin: 0 auto;
  max-width: 970px;
  text-align: center;
  text-align: center;
}

.title-decoration {
  display: block;
  margin: 0 auto;
  text-align: center;
}
